
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5;
}

/*navigation*/
.navigation {
  background-color: rgb(241, 209, 70);
  position:fixed;
  width: 100%;
}
.navigation__list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.navigation__list__tags a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  padding: 0.75rem 0.40rem 0.75rem 0.40rem;
  float: right;
}
.navigation__list__tags a:hover{
    background-color: black;
    color: rgb(241, 209, 70);
}
.navigation__list__tags a:active {
  color: white;
}

.header {
  background-color: rgb(51, 47, 89);
  background-image: url("./assets/bricksgradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  color: white;
  text-shadow: 3px 3px 3px rgb(6, 6, 6);

}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap:wrap;
}



.heading__title {
  margin:0 ;
  text-align: center;
  width: 70%;
  font-size: 3rem;
  font-family: "Helvetica Neue", Helvetica, Arial;

}

.heading__slogan {
width: 70%;
text-align: center;
font-size: 1.5rem;
font-family: "Josefin Slab", Georgia, serif;

}

/*about*/


.about {
  background-color: rgb(255, 224, 187);
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;

}

.about__title {
    margin-top:0 ;
    padding-top: 3%;

}

.about__info {
  font-size: 2rem;
  text-align: center;
}

.about__iconContainer{
  display:flex;

  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 1rem;
}
.about__pic{
  max-width: 7rem;
  max-height: 7rem;
  margin: 0 auto;

}


/*team*/
.team {
  background-color: rgb(255, 200, 187);
  height: 100vh;
  padding-left: 3%;
  padding-right: 3%;

}

.team__heading {
    margin-top:0;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;

}

.team--box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team__member {
  /*padding: 1%;*/
  width: 17rem;
}

.team__member__pic {
  max-width: 10rem;
  border-radius: 50%;

}
/*contact*/

.contactSection {
  background-color: rgb(255, 200, 110);
  height: 100vh;
}

.contactSection__heading {
  text-align: center;
}

.contactSection__flex{
  display: flex;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.contactSection__form{
  width: 50%;


}
.contactSection__form__input,
.contactSection__form__textArea,
.contactSection__form__label{
  display: block;
  margin: 0 auto;

}
.contactSection__form__input,.contactSection__form__textArea
{
  width: 16.25rem;
height: 1.5rem;
border-radius: 3px;
}

.contactSection__form__input:last-child {
  color: white;
  background-color: black;
  border-color: black;

}

.contactSection__form__textArea{
  height:3rem;
}
.contactSection__form__label{
  margin-top: 15px;
}
.contactSection__address{
  width: 45%;
  text-align: center;
  margin-top: 50px;
  border-left: 2px solid black;
}

.contactSection__heading {
  margin-top:0;
}

/*footer*/

.footer {
  background-color: rgb(233, 254, 253);
  text-align: center;
  padding: 2%;


}

@media screen and (min-width:600px) {
  .navigation__list__tags a {
    font-size: 2rem;
    padding-left: 0.50rem;
    padding-right: 1.2rem;
  }
  .about__iconContainer{
    flex-direction: row;
  }

  .heading__title {
    font-size: 9rem;
  }

  .heading__slogan {
    font-size: 2rem;
    padding-top: 5%;
  }
}
