
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.5;

}

/*navigation*/
.navigation {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(241, 209, 70);
}

.navigation__list {
  display:flex;
  justify-content: flex-end;
}

.navigation__list__tags {
  list-style: none;
  font-size: 2rem;
  padding-left: 3%;
  padding-right: 3%;
}

.navigation__list__tags:hover {
  color: white;
}

.header {
  background-color: rgb(233, 254, 253);
  height: 100vh;

}

.heading__title {
  margin-top:0 ;
  padding-top: 25%;
  text-align: center;

}

.heading__slogan {
  text-align: center;
}

/*about*/


.about {
  background-color: rgb(255, 224, 187);
  height: 100vh;

}

.about__title {
    margin-top:0 ;
    padding-top: 3%;
    text-align: center;
}

/*team*/
.team {
  background-color: rgb(255, 200, 187);
  height: 100vh;
  padding-left: 3%;
  padding-right: 3%;

}

.team__heading {
    margin-top:0;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;

}

.team--box {
  display: flex;
  justify-content: space-around;
}

.team__member {
  padding: 2%;
  width: 20%;
}

/*contact*/

#contactSection {
  background-color: rgb(255, 200, 110);
  height: 100vh;
}

.contactSection__heading {
  margin-top:0;
}

/*footer*/

.footer {
  background-color: rgb(233, 254, 253);
  text-align: center;
  padding: 2%;


}
